<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TungConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Web\WebTung\WebTung\WebTung\Tung.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="102400" executionTimeout="600" />
     <customErrors mode="Off"/>
  </system.web>
</configuration>